@font-face {
    font-family: 'Aladin';
    src: url('./fonts/Aladin.ttf') format('truetype');
}

@font-face {
    font-family: 'Aldebara';
    src: url('./fonts/Aldebara.ttf') format('truetype');
}

@font-face {
    font-family: 'Almanac Italic Grunge';
    src: url('./fonts/almanac italic grunge.ttf') format('truetype');
}

@font-face {
    font-family: 'Alphabet Wave';
    src: url('./fonts/Alphabet Wave.ttf') format('truetype');
}

@font-face {
    font-family: 'Amoxan';
    src: url('./fonts/Amoxan.ttf') format('truetype');
}

@font-face {
    font-family: 'Animasi Eyes';
    src: url('./fonts/animasi eyes.ttf') format('truetype');
}

@font-face {
    font-family: 'Annabelle';
    src: url('./fonts/Annabelle.ttf') format('truetype');
}

@font-face {
    font-family: 'Azhitromicin';
    src: url('./fonts/Azhitromicin.ttf') format('truetype');
}

@font-face {
    font-family: 'Baby Cute';
    src: url('./fonts/Baby Cute.ttf') format('truetype');
}

@font-face {
    font-family: 'Baby Doll';
    src: url('./fonts/Baby doll.ttf') format('truetype');
}

@font-face {
    font-family: 'Balotak';
    src: url('./fonts/BALOTAK.ttf') format('truetype');
}

@font-face {
    font-family: 'Balqis';
    src: url('./fonts/Balqis.ttf') format('truetype');
}

@font-face {
    font-family: 'Beautiful Leaves';
    src: url('./fonts/Beautiful leaves.ttf') format('truetype');
}

@font-face {
    font-family: 'Beaver';
    src: url('./fonts/beaver.ttf') format('truetype');
}

@font-face {
    font-family: 'Belarosa';
    src: url('./fonts/BELAROSA.ttf') format('truetype');
}

@font-face {
    font-family: 'Belepotan';
    src: url('./fonts/Belepotan.ttf') format('truetype');
}

@font-face {
    font-family: 'Black Forest';
    src: url('./fonts/Black Forest.ttf') format('truetype');
}

@font-face {
    font-family: 'Black Riders';
    src: url('./fonts/BLACK RIDERS.ttf') format('truetype');
}

@font-face {
    font-family: 'Blackentina 4f';
    src: url('./fonts/Blackentina 4F.ttf') format('truetype');
}

@font-face {
    font-family: 'Bloody';
    src: url('./fonts/bloody.ttf') format('truetype');
}

@font-face {
    font-family: 'Blowbrush';
    src: url('./fonts/blowbrush.ttf') format('truetype');
}

@font-face {
    font-family: 'Blue Ocean';
    src: url('./fonts/Blue ocean.ttf') format('truetype');
}

@font-face {
    font-family: 'Bluegrass Outline';
    src: url('./fonts/Bluegrass OUTLINE.ttf') format('truetype');
}

@font-face {
    font-family: 'Boncegro Ff 4f';
    src: url('./fonts/Boncegro FF 4F.ttf') format('truetype');
}

@font-face {
    font-family: 'Booster';
    src: url('./fonts/Booster.ttf') format('truetype');
}

@font-face {
    font-family: 'Bougenville Flowers';
    src: url('./fonts/Bougenville flowers.ttf') format('truetype');
}

@font-face {
    font-family: 'Broken Heart';
    src: url('./fonts/broken Heart.ttf') format('truetype');
}

@font-face {
    font-family: 'Bromello';
    src: url('./fonts/bromello.ttf') format('truetype');
}

@font-face {
    font-family: 'Browie';
    src: url('./fonts/Browie.ttf') format('truetype');
}

@font-face {
    font-family: 'Bubble Boba';
    src: url('./fonts/BUBBLE BOBA.ttf') format('truetype');
}

@font-face {
    font-family: 'Butterfly';
    src: url('./fonts/Butterfly.ttf') format('truetype');
}

@font-face {
    font-family: 'Cakiss';
    src: url('./fonts/cakiss.ttf') format('truetype');
}

@font-face {
    font-family: 'Calliope Fun';
    src: url('./fonts/Calliope fun.ttf') format('truetype');
}

@font-face {
    font-family: 'Cattrine';
    src: url('./fonts/Cattrine.ttf') format('truetype');
}

@font-face {
    font-family: 'Ceftriaxon';
    src: url('./fonts/Ceftriaxon.ttf') format('truetype');
}

@font-face {
    font-family: 'Charles';
    src: url('./fonts/Charles.ttf') format('truetype');
}

@font-face {
    font-family: 'Cheerful Year';
    src: url('./fonts/Cheerful Year.ttf') format('truetype');
}

@font-face {
    font-family: 'Chocolate Heart Free';
    src: url('./fonts/Chocolate Heart Free.ttf') format('truetype');
}

@font-face {
    font-family: 'Chocoleta';
    src: url('./fonts/chocoleta.ttf') format('truetype');
}

@font-face {
    font-family: 'Christmas';
    src: url('./fonts/Christmas.ttf') format('truetype');
}

@font-face {
    font-family: 'Coffee Break';
    src: url('./fonts/Coffee Break.ttf') format('truetype');
}

@font-face {
    font-family: 'Coffee Robusta';
    src: url('./fonts/Coffee Robusta.ttf') format('truetype');
}

@font-face {
    font-family: 'Cornerstone';
    src: url('./fonts/Cornerstone.ttf') format('truetype');
}

@font-face {
    font-family: 'Crunchy';
    src: url('./fonts/Crunchy.ttf') format('truetype');
}

@font-face {
    font-family: 'Cute Love';
    src: url('./fonts/CUTE LOVE.ttf') format('truetype');
}

@font-face {
    font-family: 'Cutes';
    src: url('./fonts/Cutes.ttf') format('truetype');
}

@font-face {
    font-family: 'Cutie Star';
    src: url('./fonts/Cutie Star.ttf') format('truetype');
}

@font-face {
    font-family: 'Debby';
    src: url('./fonts/Debby.ttf') format('truetype');
}

@font-face {
    font-family: 'Decomart Ff 4f';
    src: url('./fonts/Decomart FF 4F.ttf') format('truetype');
}

@font-face {
    font-family: 'Delicious Food';
    src: url('./fonts/Delicious Food.ttf') format('truetype');
}

@font-face {
    font-family: 'Devil Beside You';
    src: url('./fonts/Devil Beside You.ttf') format('truetype');
}

@font-face {
    font-family: 'Diamond';
    src: url('./fonts/DIAMOND.ttf') format('truetype');
}

@font-face {
    font-family: 'Digital Marketing';
    src: url('./fonts/Digital Marketing.ttf') format('truetype');
}

@font-face {
    font-family: 'Dolce Vita';
    src: url('./fonts/Dolce Vita.ttf') format('truetype');
}

@font-face {
    font-family: 'Donuts';
    src: url('./fonts/Donuts.ttf') format('truetype');
}

@font-face {
    font-family: 'Emerald';
    src: url('./fonts/Emerald.ttf') format('truetype');
}

@font-face {
    font-family: 'Everybody';
    src: url('./fonts/everybody.ttf') format('truetype');
}

@font-face {
    font-family: 'Explore';
    src: url('./fonts/explore.ttf') format('truetype');
}

@font-face {
    font-family: 'Flowers';
    src: url('./fonts/flowers.ttf') format('truetype');
}

@font-face {
    font-family: 'Fonesia Regular';
    src: url('./fonts/Fonesia Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fredoka One';
    src: url('./fonts/Fredoka One.ttf') format('truetype');
}

@font-face {
    font-family: 'Friendly';
    src: url('./fonts/FRIENDLY.ttf') format('truetype');
}

@font-face {
    font-family: 'Funny Kids';
    src: url('./fonts/Funny Kids.ttf') format('truetype');
}

@font-face {
    font-family: 'Ganguro';
    src: url('./fonts/Ganguro.ttf') format('truetype');
}

@font-face {
    font-family: 'Gendis Flower';
    src: url('./fonts/Gendis Flower.ttf') format('truetype');
}

@font-face {
    font-family: 'Georgia';
    src: url('./fonts/Georgia.ttf') format('truetype');
}

@font-face {
    font-family: 'Georgios';
    src: url('./fonts/GEORGIOS.ttf') format('truetype');
}

@font-face {
    font-family: 'Glasoor Ff 4f';
    src: url('./fonts/Glasoor FF 4F.ttf') format('truetype');
}

@font-face {
    font-family: 'Golden Pumpkin';
    src: url('./fonts/Golden Pumpkin.ttf') format('truetype');
}

@font-face {
    font-family: 'Greentea Milkshake';
    src: url('./fonts/Greentea Milkshake.ttf') format('truetype');
}

@font-face {
    font-family: 'Guerrilla';
    src: url('./fonts/GUERRILLA.ttf') format('truetype');
}

@font-face {
    font-family: 'Gupis';
    src: url('./fonts/Gupis.ttf') format('truetype');
}

@font-face {
    font-family: 'Halloween';
    src: url('./fonts/Halloween.ttf') format('truetype');
}

@font-face {
    font-family: 'Hamurz';
    src: url('./fonts/Hamurz.ttf') format('truetype');
}

@font-face {
    font-family: 'Happy Christmas';
    src: url('./fonts/Happy Christmas.ttf') format('truetype');
}

@font-face {
    font-family: 'Happy New Year';
    src: url('./fonts/Happy New Year.ttf') format('truetype');
}

@font-face {
    font-family: 'Happy Shopping';
    src: url('./fonts/Happy Shopping.ttf') format('truetype');
}

@font-face {
    font-family: 'Happy Weekend';
    src: url('./fonts/Happy weekend.ttf') format('truetype');
}

@font-face {
    font-family: 'Hello Christmas';
    src: url('./fonts/Hello Christmas.ttf') format('truetype');
}

@font-face {
    font-family: 'Hello Winter';
    src: url('./fonts/Hello Winter.ttf') format('truetype');
}

@font-face {
    font-family: 'Hellow January';
    src: url('./fonts/Hellow January.ttf') format('truetype');
}

@font-face {
    font-family: 'Helltown';
    src: url('./fonts/Helltown.ttf') format('truetype');
}

@font-face {
    font-family: 'Heyro Fun';
    src: url('./fonts/HEYRO fun.ttf') format('truetype');
}

@font-face {
    font-family: 'Hidrocloroquin';
    src: url('./fonts/Hidrocloroquin.ttf') format('truetype');
}

@font-face {
    font-family: 'Hollster';
    src: url('./fonts/Hollster.ttf') format('truetype');
}

@font-face {
    font-family: 'Honeymoon';
    src: url('./fonts/Honeymoon.ttf') format('truetype');
}

@font-face {
    font-family: 'Humblle Rought Caps';
    src: url('./fonts/Humblle Rought Caps.ttf') format('truetype');
}

@font-face {
    font-family: 'Hundredth';
    src: url('./fonts/Hundredth.ttf') format('truetype');
}

@font-face {
    font-family: 'Jamoer Rough Free';
    src: url('./fonts/Jamoer Rough Free.ttf') format('truetype');
}

@font-face {
    font-family: 'Jelline';
    src: url('./fonts/Jelline.ttf') format('truetype');
}

@font-face {
    font-family: 'Jhonny Handlettering';
    src: url('./fonts/JHONNY Handlettering.ttf') format('truetype');
}

@font-face {
    font-family: 'Jons';
    src: url('./fonts/JONS.ttf') format('truetype');
}

@font-face {
    font-family: 'Judas';
    src: url('./fonts/Judas.ttf') format('truetype');
}

@font-face {
    font-family: 'Just Friend';
    src: url('./fonts/Just Friend.ttf') format('truetype');
}

@font-face {
    font-family: 'Kaneda';
    src: url('./fonts/Kaneda.ttf') format('truetype');
}

@font-face {
    font-family: 'Kindergarten';
    src: url('./fonts/kindergarten.ttf') format('truetype');
}

@font-face {
    font-family: 'Krriiukk';
    src: url('./fonts/Krriiukk.ttf') format('truetype');
}

@font-face {
    font-family: 'Leaf';
    src: url('./fonts/Leaf.ttf') format('truetype');
}

@font-face {
    font-family: 'Lets Go To School';
    src: url('./fonts/Lets go to school.ttf') format('truetype');
}

@font-face {
    font-family: 'Lighting';
    src: url('./fonts/Lighting.ttf') format('truetype');
}

@font-face {
    font-family: 'Liquide';
    src: url('./fonts/Liquide.ttf') format('truetype');
}

@font-face {
    font-family: 'Love Bubbles';
    src: url('./fonts/Love Bubbles.ttf') format('truetype');
}

@font-face {
    font-family: 'Lovely';
    src: url('./fonts/Lovely.ttf') format('truetype');
}

@font-face {
    font-family: 'Lumber';
    src: url('./fonts/Lumber.ttf') format('truetype');
}

@font-face {
    font-family: 'Luna';
    src: url('./fonts/Luna.ttf') format('truetype');
}

@font-face {
    font-family: 'Mandalaclipart-regular';
    src: url('./fonts/MandalaClipArt-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Manopo';
    src: url('./fonts/Manopo.ttf') format('truetype');
}

@font-face {
    font-family: 'Memoriam';
    src: url('./fonts/Memoriam.ttf') format('truetype');
}

@font-face {
    font-family: 'Mennuah';
    src: url('./fonts/Mennuah.ttf') format('truetype');
}

@font-face {
    font-family: 'Metal Blackletter';
    src: url('./fonts/Metal Blackletter.ttf') format('truetype');
}

@font-face {
    font-family: 'Metal Curve';
    src: url('./fonts/metal curve.ttf') format('truetype');
}

@font-face {
    font-family: 'Metalblackletter';
    src: url('./fonts/MetalBlackletter.ttf') format('truetype');
}

@font-face {
    font-family: 'Methilprednisolon';
    src: url('./fonts/Methilprednisolon.ttf') format('truetype');
}

@font-face {
    font-family: 'Michy';
    src: url('./fonts/Michy.ttf') format('truetype');
}

@font-face {
    font-family: 'Miracle Of Christmas';
    src: url('./fonts/Miracle Of Christmas.ttf') format('truetype');
}

@font-face {
    font-family: 'Mom Cooking';
    src: url('./fonts/Mom cooking.ttf') format('truetype');
}

@font-face {
    font-family: 'Monolog';
    src: url('./fonts/MONOLOG.ttf') format('truetype');
}

@font-face {
    font-family: 'Monopoly Regular';
    src: url('./fonts/Monopoly Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Moo Milky';
    src: url('./fonts/Moo Milky.ttf') format('truetype');
}

@font-face {
    font-family: 'Mouw';
    src: url('./fonts/MOUW.ttf') format('truetype');
}

@font-face {
    font-family: 'My Princess';
    src: url('./fonts/My Princess.ttf') format('truetype');
}

@font-face {
    font-family: 'Naturally';
    src: url('./fonts/Naturally.ttf') format('truetype');
}

@font-face {
    font-family: 'Neonclipper Normal';
    src: url('./fonts/neonclipper normal.ttf') format('truetype');
}

@font-face {
    font-family: 'Nightamore Brush Free Font';
    src: url('./fonts/Nightamore Brush Free Font.ttf') format('truetype');
}

@font-face {
    font-family: 'Nikoleta';
    src: url('./fonts/NIKOLETA.ttf') format('truetype');
}

@font-face {
    font-family: 'Noble Notes';
    src: url('./fonts/Noble Notes.ttf') format('truetype');
}

@font-face {
    font-family: 'North Star';
    src: url('./fonts/North Star.ttf') format('truetype');
}

@font-face {
    font-family: 'Nothing';
    src: url('./fonts/NOTHING.ttf') format('truetype');
}

@font-face {
    font-family: 'Octomorf';
    src: url('./fonts/octomorf.ttf') format('truetype');
}

@font-face {
    font-family: 'One More';
    src: url('./fonts/ONE MORE.ttf') format('truetype');
}

@font-face {
    font-family: 'One Stripe';
    src: url('./fonts/One Stripe.ttf') format('truetype');
}

@font-face {
    font-family: 'Oneday';
    src: url('./fonts/ONEDAY.ttf') format('truetype');
}

@font-face {
    font-family: 'Outline';
    src: url('./fonts/Outline.ttf') format('truetype');
}

@font-face {
    font-family: 'Photography';
    src: url('./fonts/Photography.ttf') format('truetype');
}

@font-face {
    font-family: 'Pikachu';
    src: url('./fonts/Pikachu.ttf') format('truetype');
}

@font-face {
    font-family: 'Pillow';
    src: url('./fonts/Pillow.ttf') format('truetype');
}

@font-face {
    font-family: 'Playground';
    src: url('./fonts/Playground.ttf') format('truetype');
}

@font-face {
    font-family: 'Polipuli';
    src: url('./fonts/Polipuli.ttf') format('truetype');
}

@font-face {
    font-family: 'Pompom';
    src: url('./fonts/Pompom.ttf') format('truetype');
}

@font-face {
    font-family: 'Pow Kids';
    src: url('./fonts/POW KIDS.ttf') format('truetype');
}

@font-face {
    font-family: 'Princess';
    src: url('./fonts/Princess.ttf') format('truetype');
}

@font-face {
    font-family: 'Purple';
    src: url('./fonts/PURPLE.ttf') format('truetype');
}

@font-face {
    font-family: 'Puzzle';
    src: url('./fonts/PUZZLE.ttf') format('truetype');
}

@font-face {
    font-family: 'Qiwqiw';
    src: url('./fonts/QIWQIW.ttf') format('truetype');
}

@font-face {
    font-family: 'Quartz';
    src: url('./fonts/Quartz.ttf') format('truetype');
}

@font-face {
    font-family: 'Quest';
    src: url('./fonts/Quest.ttf') format('truetype');
}

@font-face {
    font-family: 'Quickline';
    src: url('./fonts/Quickline.ttf') format('truetype');
}

@font-face {
    font-family: 'Quito';
    src: url('./fonts/Quito.ttf') format('truetype');
}

@font-face {
    font-family: 'Remember';
    src: url('./fonts/Remember.ttf') format('truetype');
}

@font-face {
    font-family: 'Retro Sans';
    src: url('./fonts/Retro Sans.ttf') format('truetype');
}

@font-face {
    font-family: 'Retro Slab Serif';
    src: url('./fonts/Retro slab serif.ttf') format('truetype');
}

@font-face {
    font-family: 'Richeese';
    src: url('./fonts/Richeese.ttf') format('truetype');
}

@font-face {
    font-family: 'Rolling Door';
    src: url('./fonts/Rolling door.ttf') format('truetype');
}

@font-face {
    font-family: 'Ruby Ruby';
    src: url('./fonts/Ruby Ruby.ttf') format('truetype');
}

@font-face {
    font-family: 'Ruffle Beauty';
    src: url('./fonts/Ruffle Beauty.ttf') format('truetype');
}

@font-face {
    font-family: 'Sand';
    src: url('./fonts/Sand.ttf') format('truetype');
}

@font-face {
    font-family: 'Sandra';
    src: url('./fonts/sandra.ttf') format('truetype');
}

@font-face {
    font-family: 'Sansan';
    src: url('./fonts/sansan.ttf') format('truetype');
}

@font-face {
    font-family: 'Sansullin';
    src: url('./fonts/Sansullin.ttf') format('truetype');
}

@font-face {
    font-family: 'Santa Claus';
    src: url('./fonts/Santa Claus.ttf') format('truetype');
}

@font-face {
    font-family: 'Saranghae';
    src: url('./fonts/Saranghae.ttf') format('truetype');
}

@font-face {
    font-family: 'Sarapan';
    src: url('./fonts/Sarapan.ttf') format('truetype');
}

@font-face {
    font-family: 'Say Hello';
    src: url('./fonts/Say Hello.ttf') format('truetype');
}

@font-face {
    font-family: 'Scarlove';
    src: url('./fonts/Scarlove.ttf') format('truetype');
}

@font-face {
    font-family: 'Sequel Regular';
    src: url('./fonts/Sequel Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Serifiqo 4f Free Capitals';
    src: url('./fonts/Serifiqo 4F Free Capitals.ttf') format('truetype');
}

@font-face {
    font-family: 'Shiro';
    src: url('./fonts/Shiro.ttf') format('truetype');
}

@font-face {
    font-family: 'Shizuka';
    src: url('./fonts/SHIZUKA.ttf') format('truetype');
}

@font-face {
    font-family: 'Sky Face';
    src: url('./fonts/Sky face.ttf') format('truetype');
}

@font-face {
    font-family: 'Solaria';
    src: url('./fonts/Solaria.ttf') format('truetype');
}

@font-face {
    font-family: 'Solatip';
    src: url('./fonts/Solatip.ttf') format('truetype');
}

@font-face {
    font-family: 'Solmet Brush';
    src: url('./fonts/Solmet Brush.ttf') format('truetype');
}

@font-face {
    font-family: 'Squaress';
    src: url('./fonts/Squaress.ttf') format('truetype');
}

@font-face {
    font-family: 'Srengngee';
    src: url('./fonts/Srengngee.ttf') format('truetype');
}

@font-face {
    font-family: 'Start-up';
    src: url('./fonts/START-UP.ttf') format('truetype');
}

@font-face {
    font-family: 'Stay Story';
    src: url('./fonts/Stay Story.ttf') format('truetype');
}

@font-face {
    font-family: 'Stricker';
    src: url('./fonts/Stricker.ttf') format('truetype');
}

@font-face {
    font-family: 'Stripe Calm';
    src: url('./fonts/Stripe Calm.ttf') format('truetype');
}

@font-face {
    font-family: 'Sueltaa Sueltaa';
    src: url('./fonts/sueltaa sueltaa.ttf') format('truetype');
}

@font-face {
    font-family: 'Sunshine';
    src: url('./fonts/Sunshine.ttf') format('truetype');
}

@font-face {
    font-family: 'Swistblnk Moabhoers';
    src: url('./fonts/Swistblnk Moabhoers.ttf') format('truetype');
}

@font-face {
    font-family: 'Taro Flowers';
    src: url('./fonts/Taro Flowers.ttf') format('truetype');
}

@font-face {
    font-family: 'Tessellate Regular';
    src: url('./fonts/Tessellate Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Thai Tea';
    src: url('./fonts/Thai tea.ttf') format('truetype');
}

@font-face {
    font-family: 'The Goldsmith Vintage';
    src: url('./fonts/The Goldsmith Vintage.ttf') format('truetype');
}

@font-face {
    font-family: 'Tombow';
    src: url('./fonts/tombow.ttf') format('truetype');
}

@font-face {
    font-family: 'Travelling';
    src: url('./fonts/Travelling.ttf') format('truetype');
}

@font-face {
    font-family: 'Tremor';
    src: url('./fonts/Tremor.ttf') format('truetype');
}

@font-face {
    font-family: 'Unicorn Beautifull';
    src: url('./fonts/Unicorn Beautifull.ttf') format('truetype');
}

@font-face {
    font-family: 'Upnormal';
    src: url('./fonts/UPNORMAL.ttf') format('truetype');
}

@font-face {
    font-family: 'Victorian Parlor Vintage Alternate_free';
    src: url('./fonts/Victorian Parlor Vintage Alternate_free.ttf') format('truetype');
}

@font-face {
    font-family: 'Wedding Knick Knacks';
    src: url('./fonts/wedding knick knacks.ttf') format('truetype');
}

@font-face {
    font-family: 'Wedding';
    src: url('./fonts/Wedding.ttf') format('truetype');
}

@font-face {
    font-family: 'Welcome Santa';
    src: url('./fonts/Welcome Santa.ttf') format('truetype');
}

@font-face {
    font-family: 'Wild';
    src: url('./fonts/WILD.ttf') format('truetype');
}

@font-face {
    font-family: 'Willy';
    src: url('./fonts/willy.ttf') format('truetype');
}

@font-face {
    font-family: 'Wings_of_darkness';
    src: url('./fonts/Wings_of_Darkness.ttf') format('truetype');
}

@font-face {
    font-family: 'Winner';
    src: url('./fonts/Winner.ttf') format('truetype');
}

@font-face {
    font-family: 'Winter Soraya';
    src: url('./fonts/Winter Soraya.ttf') format('truetype');
}

@font-face {
    font-family: 'Young Heart';
    src: url('./fonts/Young Heart.ttf') format('truetype');
}

div {
    font-family: 'Fredoka One',
    sans-serif;
    color: #333;
}